<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 login-container">
                <h2>myForum - Change password</h2>
                <div class="form-group">
                    <label>Old password</label>
                    <input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Enter the old password">
                </div>
                <div class="form-group">
                    <label >New password</label>
                    <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="Enter the new password">
                </div>
                <div class="form-group">
                    <label >New password again</label>
                    <input type="password" class="form-control" [(ngModel)]="newPasswordAgain" placeholder="Repeat the new password">
                </div>
                <div class="checkbox-container">
                    <input [(ngModel)]="logoutOthers" type="checkbox" id="terms-checkbox">
                    <label for="terms-checkbox">Logout other sessions</label>
                </div>
                <button class="btn btn-primary" (click)="changePassword()">Change password</button>
            </div>
        </div>
    </div>
</body>

</html>