
<html lang="en">
<head>
  <title>Forum</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="headerimage">
        <img src= "../../../assets/logo.png" class="logo img-responsive">
    </div>

      <!-- header area -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a routerLink="" class="navbar-brand">myForum</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li *ngIf="loggedIn" (click)="logout()"><a><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
              <li *ngIf="loggedIn" (click)="navigateToUserSettings()"><a><span class="glyphicon glyphicon-wrench"></span> User settings</a></li>
              <li *ngIf="loggedIn" (click)="navigateToAddNewTopic()"><a><span class="glyphicon glyphicon-plus-sign" ></span> Add topic</a></li>
              <li *ngIf="!loggedIn" (click)="navigateToLogin()"><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- topic header information-->
      <div class="container-fluid legend text-center"  style="padding-bottom:5px; margin-bottom:5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" >
          <div class="col-sm-12" style="padding-top:10px; color:antiquewhite;">
                <p class="topicname"><b>{{topicTitle}}</b></p>
                <p class="topicdescription" style="word-wrap: break-word;"><i>{{topicText}}</i></p>
          </div>
 
      </div>
      <!-- topic text list-->
      <div *ngFor="let comment of comments" class="container-fluid themeslist text-center" style="border-radius:5px; border-top: 1px solid rgb(196, 196, 196); margin-bottom:5px;" >
        <div class="col-sm-6" style="padding-top:10px;">
                <span class="topicauthor"><b>{{comment.username}}</b></span>, <span class="topicdatetime">{{comment.timestamp}}</span>
        </div>  
        <div class="col-sm-6" style="padding-top:10px; ">
            <i class="fa fa-trash" aria-hidden="true" style="font-size:20px;" onclick=""></i>
        </div> 
        <hr class="hline">
        <div class="col-sm-12" style="padding-top:10px;">
            <span class="topictext">
              {{comment.text}}
            </span>
        </div>
      </div>
      <!-- add comment -->
      <div class="container-fluid  text-center" style="border-radius:5px;  margin-bottom:5px;" >
        <div class="col-sm-12" style="padding-top:10px;">
            <div class="form-group" style="margin: 1.5% 5% 0 5%">
                <label for="comment">Leave a comment...</label> <p *ngIf="commentText.length > 0 && commentText.length < 5" style="color:red">Komentar mora imati barem 5 znakova</p>
                <textarea class="form-control" rows="5" id="comment" [(ngModel)]="commentText"></textarea>
            </div>        </div> 
        <div class="col-sm-12" style="padding-top:10px;">
            <button (click)="addComment()" type="button" class="btn btn-primary">Add comment</button>
        </div>  

      </div>
       <!-- footer area -->
      <div class="container-fluid text-center footerfluid"  >
        <div class="col-sm-4" style="padding-top:10px;">
                <p><b>2023 © myForum</b></p>
        </div>
        <div class="col-sm-4"><img src="../../../assets/footer_icon.png" style="width:40px; height:40px;"></div>
        <div class="col-sm-4">        
              <a href="https://google.hr"> <i class="fa fa-globe fa-2xl" aria-hidden="true" style="font-size:40px; padding-right:5px; color: #d40054;"></i></a>
              <a href="https://www.google.hr"><i class="fa fa-info-circle" style="font-size:40px; padding-right:5px; color: #07aa2b;"></i></a>  
              <a href="https://www.instagram.com"><i class="fa fa-instagram" style="font-size:40px; color: #0074d3;"></i></a>  
        </div>  
    </div>
